.page-2 {
  @extend %common;
  .back-grid {
    @include absolute(50%, -50%, 50%, -50%);
    width: calc(100% / 6 * 4);
    height: 100vh;

    display: grid;
    grid-template-columns: 40% 10% 50%;
    grid-template-rows: 4% 46% 40% 6% 4%;
    grid-template-areas:
      " .  img  ."
      " man img desc"
      " man img desc"
      " man img menu"
      " .  img  .";

    .img-man {
      grid-area: man;
      position: relative;

      img {
        @include absolute(40%, -50%, 47%, -50%);
        height: 110%;
        opacity: 0;
        will-change: opacity;

        transition: opacity 0.6s ease-in-out;
        &:first-child {
          opacity: 0.9;
        }
      }
    }

    .body-images {
      grid-area: img;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      border-right: $grid-border;
      padding: 3vh 0;
      img {
        padding: 4vh;
        width: 5vh;
        height: 5vh;
        opacity: 0;
        @include letter-animate(1, 6, 1.5s, 0s, 20);
      }
    }

    .description {
      position: relative;
      grid-area: desc;
      overflow: hidden;
      .sec {
        position: relative;
        height: 100%;
        padding: 0 3%;
        header {
          position: relative;
          height: 64%;
          left: -1rem;
          display: flex;
          text-align: right;
          align-items: flex-end;
          justify-content: flex-end;
          h6 {
            @include text-style(440px, 700, initial, initial);
            @include text-border(2px);
            position: absolute;
            align-self: center;
            left: -120px;
            opacity: 0.3;
            z-index: -1;
          }
          h1 {
            @extend %header-2;
            color: #00e2ff;
          }
        }
        article {
          display: flex;
          position: relative;
          height: 36%;
          align-items: center;
          p {
            @extend %paragraph;
            padding-right: 3%;
          }
        }
      }
    }

    .nav {
      grid-area: menu;
      align-self: flex-end;
      padding-left: 3%;
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding-left: 0;
        margin-left: -2%;
        li {
          display: contents;
          color: $white;
          span {
            @include text-style(16px, 700, 0.7px, auto);
            color: inherit;
            opacity: 0.9;
            padding: 2%;
            transition: all 0.3s;
          }
          .active {
            color: $light-blue;
          }
          &:hover {
            color: $light-blue;
          }
        }
      }
    }
  }

  @include mq(large) {
    .back-grid {
      width: 80%;

      .img-man {
        img {
          height: 90%;
        }
      }

      .description {
        .sec {
          header {
            h6 {
              font-size: 400px;
            }
            h1 {
              font-size: 60px;
            }
          }
          article {
            p {
              font-size: 14px;
            }
          }
        }
      }

      .nav {
        ul {
          li {
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  @include mq(medium) {
    .back-grid {
      width: calc(100% / 14 * 12);

      grid-template-columns: 25% 75%;
      grid-template-areas:
        " img  ."
        " img desc"
        " img desc"
        " img menu"
        " img  .";

      .img-man {
        display: none;
      }
      .body-images {
        grid-area: img;
        height: 100vh;
        padding: 0;
        width: 100%;
        border-right: $grid-border;
        img {
          display: none;
        }
      }
    }
  }

  @include mq(small) {
    .back-grid {
      width: calc(100% / 14 * 13);
      grid-template-columns: 1% 99%;

      .description {
        .sec {
          header {
            height: 55%;
            h6 {
              font-size: 350px;
              left: -100px;
            }
            h1 {
              letter-spacing: 1px;
              font-size: 32px;
            }
          }
          article {
            height: 45%;
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
