.page_3 {
  @extend %common;

  .back_grid {
    @include absolute(0, 0, 50%, -50%);
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 34% 58% 12%;
    grid-template-areas: "text" "slide" ;
    overflow-x: scroll;

    .header {
      grid-area: text;
      align-self: center;
      h1 {
        display: inline-block;
        margin-left: calc(50vw / 3);
        text-transform: uppercase;
        @include text-style(60px, bold, 4px, auto);
        color: $white;
      }
    }

    .slider {
      grid-area: slide;
      padding: 2% 0 2% calc(50% / 2.3);
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;

      .slide {
        scroll-snap-align: end;
        position: relative;
        height: 300px;
       
        img {
          width: 300px;
          height: 100%;
          padding: 0 25px;
        }
        h2 {
          @include text-style(50px, bold, 2px, auto, 0.7);
          @include text-border(1px);
          position: absolute;
          top: 50%;
          text-shadow: 0px 2px 15px rgba(0, 226, 255, 0.2);
        }
        p {
          @include text-style(18px, bold, 1px, auto);
          position: absolute;
          width: 55%;
          top: 70%;
          color: $white;
        }
      }
    }
  }

  @include mq(large) {
    .back_grid {
      .header {
        h1 {
          @include text-style(45px, bold, 3px, auto);
        }
      }
      .slider {
        .slide {
          height: 250px;
          img {
            width: 250px;
            padding: 0 20px;
          }
          h2 {
            font-size: 38px;
          }
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
  @include mq(medium) {
    .back_grid {
      .slider {
        .slide {
          height: 220px;

          img {
            width: 220px;
            padding: 0 15px;
          }
        }
      }
    }
  }

  @include mq(small) {
    .back_grid {
      height: 100%;
      .header {
        h1 {
          margin-left: calc(50vw / 5);
          @include text-style(33px, bold, 3px, auto);
        }
      }
      .sslider {
        .slide {
          height: 200px;

          img {
            width: 200px;
            padding: 0 15px;
          }
        }
      }
    }
  }
}
