.page_1 {
  @extend %common;

  .back_grid {
    @include absolute(50%, -50%, 0);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: calc(100% / 6 * 4);

    div {
      height: 100vh;
      border-left: $grid-border;
      &:last-child {
        border-right: $grid-border;
      }
    }
  }

  .header {
    position: relative;
    width: calc(100% / 6 * 4);
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40% 48% 22%;
    grid-template-areas:
      ". . . menu"
      "header header header header"
      ". . paragrf paragrf";

    .menu_list {
      grid-area: menu;
      ul {
        list-style-type: none;
        padding: 0;
        margin: 12% 0 0 0;
        li {
          width: max-content;
          padding: 1% 7% 1% 7%;
          a {
            text-decoration: none;
            .menuIndex {
              @include text-border();
              font-size: 32px;
              letter-spacing: 1px;
              text-shadow: 1px 2px 10px rgba(128, 237, 252, 0.3);
            }
            .menuText {
              margin-left: 15px;
              font-size: 13px;
              color: $white;
              text-transform: lowercase;
              transition: letter-spacing 200ms ease-in-out;
            }
          }
          &:hover {
            .menuText {
              letter-spacing: 4px;
              color: $light-blue;
            }
          }
        }
      }
    }

    .header_text {
      grid-area: header;
      color: $white;
      margin-left: 2%;
      text-transform: uppercase;
      h2 {
        @include text-style(46px, 400, 1.2px, 110%);
        display: contents;
        span {
          @include letter-animate(1, 19, 0.8s, 0.5s);
          opacity: 0;
        }
      }
      h1 {
        @include text-style(65px, 700, 3px, 110%);
        @include text-border(2px);
        display: contents;
        margin-top: 1%;
        text-shadow: 0px 3px 15px rgba(0, 226, 255, 0.2);
        span {
          opacity: 0;
          @include letter-animate(1, 24, 0.8s, 0.5s);
        }
      }
    }

    .paragraf_text {
      grid-area: paragrf;
      p {
        @extend %paragraph;
        margin: 0 3% 0 3%;
        display: inline-block;
      }
    }
  }

  @include mq(large) {
    .back_grid {
      width: calc(100% / 10 * 8);
    }
    .header {
      width: calc(100% / 10 * 8);
      grid-template-rows: 36% 48% 26%;
      .header_text {
        margin-left: 1%;
        h2 {
          @include text-style(38px, 400, 1.2px, 110%);
        }
        h1 {
          @include text-style(51px, 700, 3px, 110%);
          @include text-border(1.5px);
        }
      }
      .paragraf_text {
        p {
          font-size: 15px;
        }
      }
    }
  }

  @include mq(medium) {
    .back_grid {
      width: calc(100% / 14 * 12);
    }
    .header {
      width: calc(100% / 14 * 12);
      grid-template-rows: 40% 48% 22%;
      grid-template-areas:
        ". . . menu"
        "header header header header"
        ". paragrf paragrf paragrf";

      .header_text {
        margin-left: 2%;
        h2 {
          @include text-style(38px, 400, 1.2px, 110%);
        }
        h1 {
          @include text-style(51px, 700, 3px, 110%);
          @include text-border(1.5px);
        }
      }
      .paragraf_text {
        p {
          font-size: 15px;
        }
      }
    }
  }

  @include mq(small) {
    .back_grid {
      width: calc(100% / 14 * 13);
      grid-template-columns: repeat(2, 1fr);
      div:nth-child(odd) {
        display: none;
      }
    }
    .header {
      width: calc(100% / 14 * 13);
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 44% 40% 26%;
      grid-template-areas:
        ". menu"
        "header header"
        "paragrf paragrf";

      .header_text {
        margin-left: 2%;
        h2 {
          @include text-style(25px, 400, 1.2px, 110%);
        }
        h1 {
          @include text-style(32px, 700, 3px, 110%);
          @include text-border(1px);
        }
      }
      .paragraf_text {
        p {
          font-size: 15px;
        }
      }
    }
  }
}
