$mq-large: 1320px;
$mq-medium: 1024px;
$mq-small: 755px;

$white: white;
$light-blue: #00e2ff;
$grid-border: 1px solid rgba(0, 226, 255, 0.1);

%common {
  position: relative;
  height: 100vh;
}

%paragraph{
  color: $white;
  font-size: 14px;
  opacity: 0.7;
}

%header-2{
  display: contents;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 5px;  
}

%header-2__large{
  display: contents;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 5px;  
}
