$mq-large: 1320px;
$mq-medium: 1024px;
$mq-small: 755px;

$white: white;
$light-blue: #00e2ff;
$grid-border: 1px solid rgba(0, 226, 255, 0.1);

%common {
  background: #000e1a
  linear-gradient(to right, rgba(1, 155, 224, 0.34), rgba(1, 76, 137, 0.34));
}

%paragraph{
  color: $white;
  font-size: 16px;
  opacity: 0.7;
}

%header-2{
  display: contents;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 5px;  
}

%header-2__large{
  display: contents;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 5px;  
}
