@import "./styles/font_Cera/stylesheet.css";
@import "./styles/mixins.scss";
@import "./styles/variables.scss";
@import "./styles/animations.scss";

* {
  margin: 0;
  cursor: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: "Cera";
  font-weight: 500;
  font-style: normal;
  overflow-y: hidden;
}

.parallax {
  height: 100vh !important;
  background: #000e1a
  linear-gradient(to right, rgba(1, 155, 224, 0.34), rgba(1, 76, 137, 0.34));
}

// @include mq(large) {
//   body{
//     overflow-y: scroll;
//   }
//   // .parallax {
//   //   height: 500vh !important;
//   //   position: relative !important;
//   // }

//   // .common_parallax {
//   //   position: relative !important;
//   //   height: 100vh !important;
//   // }
  
// }

.main {
  @import "styles/cursor";
  @import "styles/video";
  @import "styles/page_1";
  @import "styles/page_2";
  @import "styles/page_3";
  @import "styles/page_4";
  @import "styles/page_5";
  @import "styles/page_6";
}
